<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../public/css/main.css">
		<link rel="stylesheet" type="text/css" href="../../public/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/css/iconfont.css"/>
		<style>
			.icon {
			   width: 1em; height: 1em;
			   vertical-align: -0.15em;
			   fill: currentColor;
			   overflow: hidden;
			}
		</style>
	</head>
	<body>
		<!--导航部分-->
		<nav class="nav navbar-inverse fixed-top" role="navgation" style="background: #232533;">
      <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" style="padding: 0;">
      	<ul class="nav mynavbar">
					<li>
						<a href="/blog" class="section">首页<span>></span></a>
					</li>
					<li>
						<a class="section">技术栈<span>></span></a>
						<ul class="nav nav-child">
							{% for category in categories %}
							<li><a class="section" href="/blog?category={{category.id}}">{{category.name}}</a></li>
							{%endfor%}
						</ul>
					</li>
					<li>
						<a class="section">关于<span>></span></a>
						<ul class="nav nav-child">
							<li><a class="section">关于我</a></li>
							<li><a class="section">写给重邮的话</a></li>
						</ul>
					</li>
					<li><a href="login" class="section">账户<span>></span></a></li>
				</ul>
      </div>
	</nav>

		<div class="banner">
			<div class="header">
				<img src="../../public/img/logo.png"/>
				<a href="https://www.zhihu.com/people/dukedyh/activities">
					<svg class="icon" aria-hidden="true">
					  <use xlink:href="#icon-zhihumoren"></use>
					</svg>
				</a>
				<a href="https://github.com/DukeDyh">
					<svg class="icon" aria-hidden="true">
					  <use xlink:href="#icon-github"></use>
					</svg>
				</a>
				<a href="https://weibo.com/6180148331/profile?rightmod=1&wvr=6&mod=personinfo">
					<svg class="icon" aria-hidden="true">
					  <use xlink:href="#icon-weibo"></use>
					</svg>
				</a>
			</div>
			<ul class="nav mynav mynavbar">
				<li>
					<a href="/blog" class="section">首页<span>></span></a>
				</li>
				<li>
					<a class="section">技术栈<span>></span></a>
					<ul class="nav nav-child">
						{% for category in categories %}
						<li><a class="section" href="/blog?category={{category.id}}">{{category.name}}</a></li>
						{%endfor%}
					</ul>
				</li>
				<li>
					<a class="section">关于<span>></span></a>
					<ul class="nav nav-child">
						<li><a class="section">关于我</a></li>
						<li><a class="section">写给重邮的话</a></li>
					</ul>
				</li>
				<li><a href="login" class="section">账户<span>></span></a></li>
			</ul>
			<address>
				<p class="address">@Edit by duke on 2017</p>
			</address>
		</div>
		<!--导航结束-->
		<div class="container">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				{% if userInfo._id %}
				<div class="box">
					<div class="jumbotron">
						<h2 class="userId">{{userInfo.username}}</h2>
						{%if userInfo.isAdmin %}
						<p><span>你好管理员！</span><a href="/admin" style="cursor: pointer;">进入管理</a></p>
						{% else %}
						<p>你好，欢迎光临我的博客</p>
						{% endif %}
						<p><a class="logout" style="cursor: pointer;">注销</a></p>
					</div>
				</div>
				{% else %}
				<div class="login box">
						<span class="icon_3">
							<svg class="icon icon-3" aria-hidden="true">
							  <use xlink:href="#icon-yonghu"></use>
							</svg>
						</span>
					<input type="text" class="form-control" placeholder="用户名" name="username"/><br />
						<span class="icon_3">
							<svg class="icon icon-3" aria-hidden="true">
							  <use xlink:href="#icon-loginpassword"></use>
							</svg>
						</span>
					<input type="password" class="form-control" placeholder="密码" name="password" /><br />
					<span class="tips"></span>
					<button class="btn btn-default">登录</button><br />
					<span class="link">还没注册？Go!</span>
				</div>
				<div class="register box">
					<br />
					<span class="icon_3">
						<svg class="icon icon-3" aria-hidden="true">
						  <use xlink:href="#icon-yonghu"></use>
						</svg>
					</span>
					<input type="text" class="form-control" placeholder="用户名" name="username"/><br />
					<span class="icon_3">
						<svg class="icon icon-3" aria-hidden="true">
						  <use xlink:href="#icon-loginpassword"></use>
						</svg>
					</span>
					<input type="password" class="form-control" placeholder="密码" name="password" /><br />
					<span class="icon_3">
						<svg class="icon icon-3" aria-hidden="true">
						  <use xlink:href="#icon-loginpassword"></use>
						</svg>
					</span>
					<input type="password" class="form-control" placeholder="确认密码" name="repassword" /><br />
					<span class="tips" ></span>
					<button class="btn btn-default">注册</button><br />
					<span class="link">已有账号？Go!</span>
				</div>
				{% endif %}
			</div>
		</div>
		<script src="../../public/js/jquery-2.1.0.js"></script>
		<script src="../../public/js/main.js"></script>
		<script src="../../public/js/css.js"></script>
		<script src="../../public/js/iconfont.js"></script>
		<script src="../../public/js/iconfont1.js"></script>
	</body>
</html>
